.search{
    display: flex;
    align-items: center;
    gap: 28px;

    >p{
        font-size: 23px;
        margin-top: 50px;
    }

    >input{
        background: rgba(217, 217, 217, 0.4) url('src/assets/search.svg') no-repeat 20px 20px;
        background-position: right;
        border-radius: 7px;
        width: 205px;
        height: 35px;
        margin-top: 50px;
        border: none;
        outline: none;
        
        &::placeholder{
            color: white;
            font-size: 15px;
            padding-left: 35px;
        }
    }
}